NEXT_PUBLIC_SITE_URL=https://www.bidje.com

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=

# TELEGRAM BOT API
TELEGRAM_BOT_TOKEN=<TOKEN_API>
TELEGRAM_GROUP_CHAT_ID=<CHAT_ID>
TELEGRAM_ALLOWED_SENDER_IDS=<ALLOWED_SENDER>
TELEGRAM_WEBHOOK_SECRET=<SECRET_KEY>
CRON_SECRET=

# Payment Fiuu
FIUU_MERCHANT_ID=your_sandbox_merchant_id
FIUU_VERIFY_KEY=your_sandbox_verify_key
FIUU_SECRET_KEY=your_sandbox_secret_key
FIUU_ENV=sandbox   # or "production"

# Twilio
TWILIO_ACCOUNT_SID=xxxx
TWILIO_AUTH_TOKEN=xxxx
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886   # your approved Twilio WA sender
SENDGRID_API_KEY=xxxx
SENDGRID_FROM_EMAIL=notifications@bidje.com